@charset "utf-8";
/* CSS Document */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p
{margin:0;padding:0;color:#616161;outline:0;font-family:Arial,Helvetica,sans-serif;}
/*a{text-decoration:none;}*/
img{border:0;}

table tr td{
	border:0;
 cellspacing:0; !important
  cellpadding:0; !important
}

#mainContainer {
    /*background: url(../images/bg.png) scroll 0 0 transparent;*/
    float: left;
    width: 100%;
}
.logo img{vertical-align:text-bottom;}
#header {
    float: left;
    min-height: 87px;
    width: 100%;
	margin-bottom:5px;
}

.logo_txt{
    color: #303030;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

	}

.headerT a {
    color: #3a739e;
	font-weight:bold;
	padding-right:5px;
	font-size:12px;

}

.button_all{
padding:3px 20px;}

#prop_file{
	padding:4px;
	margin-bottom: 5px;
}

.headerT a:hover {
    color: #2a2f33;
    text-decoration: none;
}

#section1 {
    background: url(../images/dashboard_bodybg1.jpg) repeat-x scroll 0 0 transparent;
    height: 40px;
    width: 100%;
}
#section1 h2 {
    color: #c4c4c4;
    float: left;
    font-size: 18px;
    height: auto;
    padding: 6px 7px 9px 10px;
    letter-spacing:1px;
	/*font-weight:bold;*/}
	
#run_sec ul,
#run_sec li,
#run_sec a {
  margin: 0;
  padding: 0;
  position: relative;
}
.run_button{ padding: 10px 7px;}

#run_sec {
  height: 36px;
  border-radius: 3px 3px 0 0 #FFF;
  -moz-border-radius: 3px 3px 0 0 #FFF;
  -webkit-border-radius: 3px 3px 0 0 #FFF;
 }
#run_sec:after,
#run_sec ul:after {
  content: '';
  display: block;
  clear: both;
}
#run_sec a {
  background: #141414;
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
   color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    }
#run_sec ul {
  list-style: none;
}
#run_sec > ul {
  float: left;
}
#run_sec > ul > li {
  float: left;
}
#run_sec > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #555555;
  margin-left: -10px;
}
#run_sec > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#run_sec > ul > li:last-child > a {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
#run_sec > ul > li.active > a {
  box-shadow: inset 0 0 3px #000000; 
   -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  border: 2px solid;

  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#run_sec > ul > li:hover > a {
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#run_sec .has-sub {
  z-index: 1;
}
#run_sec .has-sub:hover > ul {
  display: block;
}
#run_sec .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  background:#555555;
}
#run_sec .has-sub ul li {
  *margin-bottom: -1px;
}
#run_sec .has-sub ul li a {
  background: #555555;
  border-bottom: 1px dotted #3f3f41;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 100%;
  padding: 10px;
  text-align:left;

}
#run_sec .has-sub ul li:hover a {
  background: #3f3f41;
  
}
#run_sec .has-sub .has-sub:hover > ul {
  display: block;
}
#run_sec .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#run_sec .has-sub .has-sub ul li a {
  background: #528009;
  border-bottom: 1px dotted #3f3f41;
}
#run_sec .has-sub .has-sub ul li a:hover {
  background: #345105;
}	
.dbs_setting_heading{
margin-bottom: 2px;
}
.dbs_setting_heading img{
margin: 5px 0 -7px 8px;}

.dbs_setting_heading_txt{
background:#FFFFFF;
    color: #969696;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;}	
	
	
.Txt_Scheduled1 {
    background-color: #393838;
    font-size: 11px;
    margin-bottom: 0;
	color:#5b9d3a;
    text-align: center;
	 border-left: 1px solid #747474;
    border-right: 1px solid #747474;
	padding: 3px;
	margin-top: -3px;
}

.lastNode {
color: #00CC00;
	margin-bottom: 0;
	margin-left: 4px;
}

.select_profile{
width:200px;
margin-left:5px;
/*background:none;*/
border:none;}

#select_Button{
padding-top:-2px;
margin-top:-5px;}

#select_Button option{
background:none;
}


#section2
{ background:#737373;
height: 30px;
    margin-top: -3px;
}

.tab_menu{
padding:9px 0px 0px 3px;}

.white_link{
color:#FFFFFF;
font-size:11px;
margin: 11px;
font-weight:bold;
text-decoration:underline;}

.button_save{
padding:1px 2px;
background:#fc6a10;
border:2px solid #e45d30;
color:#FFFFFF;
text-shadow: #363535 0.1em 0.1em 0.2em;

}

#section3{
background:url("../images/bg_logo.png") no-repeat fixed 586px 6px transparent;
background-attachment:fixed;
color:#c4c4c4;
}

#tabs {
	font-size: 12px;
	border:#CCCCCC;
	margin-top: -5px;
	

}
#tabs ul {
	float: left;
	/*background: #fff;*/
	padding-top: 4px;
	  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}
#tabs li {
	margin-left: 2px;
	list-style: none;
}
#tabs li {
	display: inline;
}
#tabs li, #tabs li a {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
	float: left;
}
#tabs ul li.active {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
	border-top:1px #e8e8e8 solid;
	background: #FFFFff;
}
#tabs ul li.active a {
	color: #000000;
	background:#FFFFFF;
	border:1px solid #3a739e;
	margin-bottom: -1px;
}
#tabs div {
	clear: both;
	min-height: 50px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
}
#tabs ul li a {
background:#3a739e;
	text-decoration: none;
	padding: 4px;
	color: #afddff;
	font-weight: bold;
	border:1px solid #3a739e;
}
#tabs form{
	margin:5px;
}

#tab-1 form input{
width: 288px;}

#tab-1 form select{
width:300px;}
.text_label{
    color: #666666;
    float: left;
    font-weight: bold;
    font-size: 12px;
    margin: 6px 6px 6px 24%;
    padding: 2px;}
#tab-1 label{
    color: #666666;
    float: left;
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;}
 #tab-2 label{
    color: #666666;
    float: left;
    font-weight: bold;
     font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;} 
    
#tab-3 label{
    color: #666666;
    float: left;
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;
    }
    
 #tab-4 label{
    color: #666666;
    float: left;
    font-weight: bold;
     font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;} 
    
#tab-5 label{
    color: #666666;
    float: left;
    font-weight: bold;
     font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;}
    
#input_data{
	font-size:12px;
}  
#input_data input{
	/*background: none repeat scroll 0 0 #FFFFFF;*/
    border: 1px medium none;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 300px;
}

.scroll_sfroce{
width:300px;
    height:500px;
    overflow: scroll;

 
}


.setting_label_heading{

color: #868686;font-weight: bold; text-align:left; font-size:14px;
padding:10px;
background:#f6f6f6;
/*  box-shadow: inset 0px 3px 3px #888888; 
   -moz-box-shadow: inset 0px 3px 3px #888888;
  -webkit-box-shadow: inset 0px 3px 3px #888888;*/}

#input_data td{
border: 1px solid #ececec;}

   
.idleField   {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 300px;}  
   
.idleField select  {
    height: 39px;
}

.idleField_d   {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 90px;} 
    
.idleField_h   {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 70px;}  
 
 
 .idleField_p   {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 90px;}
        
/* Added for Redshift Database */    
.schemaid{display: none;width: 100px;}
.idleField_sh{display: none;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #B4B4B4;color: #7A7A79;margin: 5px;padding: 7px 5px;width: 150px;}

.idleField_db   {background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 150px;}     
 .idleField_url   { background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #d6d6d6;
    color: #7A7A79;
    /*margin: 2px 21px 13px 221px;*/
    padding: 7px 5px;
    width: 466px;} 
.button_align{float:right;padding:2px 6px 2px 6px;margin-right: 25%; }

.sync_object_all{
    border: 1px solid #666666;
    height: 500px;
    width: 288px;}
.sync_object_heading{
padding:10px;
background:#ececec;}
.sync_object{
padding:10px;}
.sync_object_table{
   border: 1px solid #666666;
    height: 400px;
    padding: 10px;
    width: 200px;
	 margin-left: 25px;}

#tab_all_select{
    background:#d4d4d4;
    border: 1px solid #CECECE;
    height: 42px;
    width: 230px;
}
.sync_object_button{
padding:2px 20px;}

.global_setting{
    background: none repeat scroll 0 0 #3A739E;
    border: 1px solid #3A739E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
 text-align:center;
    
}

.adv_setting{
	margin: 20px;
	
}

.global_setting a {color: #FFFFFF;}

.profile_setting{
    background: none repeat scroll 0 0 #3A739E;
    border: 1px solid #3A739E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
text-align:center;}

.profile_setting a{color: #FFFFFF;}


.resources{
border: 1px #666666 solid;
background:#CCCCCC;}

.brands {
/*background:#FFFFFF;*/
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    float: left;
    text-align: center;
    width: 40%;
margin: 30px -3px 44px 72px;
	 height: 200px;
}

.brands h2{
	background: url(../images/bg_h2.png) repeat-x;
   /* background: none repeat scroll 0 0 #3A739E;*/
    border-radius: 3px 3px 0 0;
    color: #AFDDFF;
    font-size: 16px;
    padding: 10px;
	margin-bottom: 12px;
	text-align:left;
	letter-spacing: 1px;}
	
.brands h2 img{margin:0 3px -2px 5px;}

.dbsync h3 {
        color: #95949c;
    float: left;
    font-size: 14px;
    margin-left: 12px;;}

.dbsync ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dbsync ul li {
    background: url(../images/tick.png) no-repeat scroll 40px 6px transparent;
    float: left;
    padding: 4px 0 6px 67px;
    text-align: left;
    font-size: 13px;
    width: 100%;
}

.brands a{
font-size: 12px;
color:#666666;
text-decoration:underline;}

.brands a:hover{
color:#b4b3c1;
text-decoration:underline;}
.brands a:hover h2{
color:#b4b3c1;
text-decoration:underline;}
.resources {
background:none;

    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 18px 74px;
    text-align: center;
    width: 85%;
}

.resourcesdot{
border-top: 4px dashed #C0C0C0;
    float: left;
    margin: -15px 0 0;
    width: 100%;}

.resources h2{
	background: url(../images/bg_h2_r.png) repeat-x;
    
    border-radius: 3px 3px 0 0;
    color: #b5b5b5;
    font-size: 16px;
    padding: 10px;
	text-align:left;
	letter-spacing: 1px;
	margin-bottom: 12px;}
	
.resources h2 img{margin:0 3px -2px 5px;}
	
.resources ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resources ul li {
    background: url(../images/doc.png) no-repeat scroll 40px 6px transparent;
    float: left;
    padding: 0 0 6px 67px;
    text-align: left;
    width: 100%;
}

.resources ul .buy {
    background: url(../images/buynow.png) no-repeat scroll 40px 6px transparent;
    float: left;
    padding: 0 0 6px 67px;
    text-align: left;
    width: 100%;
    margin-bottom : 10px;
}

.resources a{
font-size: 12px;
color:#666666;
text-decoration:underline;}

.resources a:hover{
color:#b4b3c1;
text-decoration:underline;}

.footer_text{
font-size:12px;
padding-left: 4px;
}
.idleField_s  {    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7A7A79;
    color: #B4B4B4;
    margin: 5px;
	padding: 5px 2px;
    width: 220px;}
    
.idleField_sm  {    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7A7A79;
    color: #B4B4B4;
    margin: 5px;
	padding: 5px 2px;
    width: 45px;}    

.notice_txt{ float:left; width:100%;}

.g_profile_b {
    margin-left: 12%;
    padding: 4px 20px;
}

#schedule label{
    color: #666666;
    float: left;
    font-weight: bold;
     font-size: 12px;
    width: 200px;
    margin: 6px;
    padding: 2px;
    text-align:left;}

#input_data label{
    color: #666666;
    float: left;
    font-weight: bold;
    font-size: 12px;
    width: 437px;
    margin: 6px;
    padding: 2px;}

#add_licen{
width:600px; height:200px; border:0px solid #eeeeee; display:block;margin-left: 25%;clear: both;!important}
#lice_data{
width:100%;
color: #868686;
    font-size: 14px;
    font-weight: bold;
	text-align:left;
}
#lice_data h3{margin-bottom: 6px;padding: 1px 10px;}
#lice_data label{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px medium none;
    color: #7A7A79;
    margin: 5px;
	padding: 7px 5px;
    width: 300px;
}

#lice_data td{
border: 1px solid #ececec;}
.sche_time{
float:left;}
#schedule_r{
    border: 1px solid #efefef;
    display: block;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.g_setting_p{
 float: left;
    width: 100%;}
	
.g_setting_b{	
	margin-left: 54%;
    padding: 3px 20px;}
#sync_obj{
width:300px;
}		

#sync_obj a {
color:#444444;
 background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #CACBD1;
    display: block;
    padding: 3px;
    text-decoration: none;
    width: 275px;
    z-index: 99;
}
#sync_obj a:hover {
color:#666666;
	background:#e3e3e3; !important
}

#sync_obj a:active{

background:#e3e3e3; !important
}
#scheduler_list td{ border: 1px solid #ECECEC;!important}
#scheduler_list label{font-size:12px;}

.includedFieldCount{
color: #444444;
    font-family: 'Arial',Helvetica,sans-serif;
    font-size: 95%;
    font-weight: bold;
    line-height: 120%;
    text-align: left;}
	
	
.heading_feild{    color: #0066FF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 95%;
    line-height: 160%;
    text-align: left;}

.button_save_ob {
    margin-top: 3px;
    padding: 3px 20px;
}


.setting_exc_heading{
  background: none repeat scroll 0 0 #555555;
   /* border: 1px solid #EFEFEF;margin-top: 23px;*/
    color: #EFEFEF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    width:315px;
    padding: 10px;
    text-align: center;
}
.button_align_sf{float:right;padding:2px 6px 2px 6px;margin-right: 45%;margin-top: -9%; }




/*

For Calendar css

*/

.tcalInput {
	background: url('../images/cal.gif') 99% 50% no-repeat;
	cursor: pointer;
	cursor: pointer;
	border: 1px solid #7A7A79;
	color: #B4B4B4;
	margin: 5px;
	padding: 5px 4px;
	width: 220px;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../images/no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 220px;
	background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid silver;

	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../images/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../images/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../images/next_mon.gif'); }
#tcalNextYear { background-image: url('../images/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 8px 0;
	text-align: center;
	font-size: 12px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 6px 0;
	text-align: center;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid green; }
#tcalGrid td.tcalSelected { background-color: #cbffb1; font-weight: bold;}

.beta{      
	color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    margin-top: -35px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    width: 400px;
}

.menu-tabs {
    width: 100%;
}

.restore {
    float:right;
    margin-top: 4px;
    text-align: right;
}